<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header') %> 
    <h1 style="color: blanchedalmond;">Hello location</h1>
    <p><%= color %>, <%= car %>  </p>
    <img src="/assets/RandomShape_Lead04.gif" alt="">
    <div>
        <ul>
            <% places.forEach(({city, state}, idx) => {%>
                <li><%= idx+1 %>. <%= city %>, <%= state %>   </li>
            <% }) %>   
        </ul>
    </div>
</body>
</html>